.vscode
*/*/obj
cpp00/ex00/megaphone
cpp00/ex01/phonebook
cpp01/ex00/zombie
cpp01/ex01/zombie
cpp01/ex02/zombie
cpp01/ex03/weapon
cpp01/ex04/replacer
cpp01/ex05/harl
cpp02/ex00/fixed
cpp02/ex01/fixed
cpp02/ex02/fixed
cpp03/ex00/claptrap
cpp03/ex01/scavtrap
cpp03/ex02/frogtrap
cpp04/ex00/animal
cpp04/ex01/brain
cpp04/ex02/abrain
cpp05/ex00/bureaucrat
cpp05/ex01/bureaucrat
cpp05/ex02/bureaucrat
cpp05/ex03/bureaucrat
